.b-newsletter {
    .newsletter-form-row {
        display: flex;
        align-items: center;
        background: #fff;
        border-radius: 16px;
        padding: 6px;
        height: 60px;
		margin-bottom: 16px;

        > p {
            display: flex;
            align-items: center;
            width: 100%;
            margin: 0;
        }

        .wpcf7-form-control-wrap {
            flex: 1;
            display: flex;
            align-items: center;
            padding: 0 14px;
        }

        input[type="email"] {
            width: 100%;
            border: 0;
            background: transparent;
            outline: 0;
			margin-bottom:  0!important;
        }

        input[type="submit"] {
            margin-left: auto; 
            display: flex;
            align-items: center;
            justify-content: center;
            height: 48px;
            padding: 0 24px;
            border: 0;
            border-radius: 16px;
            background: var(--color-secondary);
            color: #18260C;
            cursor: pointer;
			margin-top:  0!important;
			font-weight: 500;
			
        }

        .wpcf7-spinner {
            display: none;
        }
    }
}